:root {
      /*  Gris  */
  --gray_0: 0 0% 98%;
  --gray_1: 0 0% 95%;
  --gray_2: 0 0% 85%;
  --gray_3: 0 0% 75%;
  --gray_4: 0 0% 70%;
  --gray_5: 0 0% 65%;
  --gray_6: 0 0% 50%;
  --gray_7: 0 0% 30%;
  --gray_8: 0 0% 20%;
  --gray_9: 0 0% 15%;
  --gray_10: 0 0% 13%;
  --gray_11: 0 0% 6%;
  --gray_12: 0 0% 3%;

    /*  Marron  */
  --brown_0: 25 40% 90%;
  --brown_1: 25 40% 80%;
  --brown_2: 25 40% 70%;
  --brown_3: 25 40% 65%;
  --brown_4: 25 40% 60%;
  --brown_5: 25 40% 55%;
  --brown_6: 25 40% 50%;
  --brown_7: 25 40% 45%;
  --brown_8: 25 40% 35%;
  --brown_9: 25 40% 28%;
  --brown_10: 25 40% 20%;
  --brown_11: 25 40% 10%;
  --brown_12: 25 40% 5%;

    /*  Amarillo  */
  --yellow_0: 50 100% 90%;
  --yellow_1: 50 100% 85%;
  --yellow_2: 50 100% 75%;
  --yellow_3: 50 100% 70%;
  --yellow_4: 50 100% 65%;
  --yellow_5: 50 100% 60%;
  --yellow_6: 50 100% 50%;
  --yellow_7: 50 95% 43%;
  --yellow_8: 50 95% 35%;
  --yellow_9: 50 95% 28%;
  --yellow_10: 50 95% 20%;
  --yellow_11: 50 95% 10%;
  --yellow_12: 50 95% 5%;

    /*  Naranja  */
  --orange_0: 30 100% 95%;
  --orange_1: 30 100% 90%;
  --orange_2: 30 100% 80%;
  --orange_3: 30 100% 73%;
  --orange_4: 30 100% 65%;
  --orange_5: 30 100% 60%;
  --orange_6: 30 100% 50%;
  --orange_7: 30 100% 45%;
  --orange_8: 30 100% 35%;
  --orange_9: 30 100% 28%;
  --orange_10: 30 100% 20%;
  --orange_11: 30 100% 10%;
  --orange_12: 30 100% 5%;

    /*  Rojo  */
  --red_0: 0 100% 95%;
  --red_1: 0 100% 90%;
  --red_2: 0 100% 83%;
  --red_3: 0 100% 75%;
  --red_4: 0 100% 67%;
  --red_5: 0 95% 60%;
  --red_6: 0 95% 50%;
  --red_7: 0 95% 43%;
  --red_8: 0 95% 35%;
  --red_9: 0 95% 28%;
  --red_10: 0 95% 20%;
  --red_11: 0 95% 10%;
  --red_12: 0 95% 5%;

    /*  Rosa  */
  --pink_0: 320 100% 95%;
  --pink_1: 320 100% 91%;
  --pink_2: 320 100% 86%;
  --pink_3: 320 100% 80%;
  --pink_4: 320 100% 73%;
  --pink_5: 320 100% 66%;
  --pink_6: 320 90% 50%;
  --pink_7: 320 90% 43%;
  --pink_8: 320 90% 35%;
  --pink_9: 320 90% 28%;
  --pink_10: 320 90% 20%;
  --pink_11: 320 90% 10%;
  --pink_12: 320 90% 5%;

    /*  Púrpura  */
  --purple_0: 280 100% 95%;
  --purple_1: 280 100% 91%;
  --purple_2: 280 100% 85%;
  --purple_3: 280 100% 80%;
  --purple_4: 280 100% 75%;
  --purple_5: 280 100% 65%;
  --purple_6: 280 100% 50%;
  --purple_7: 280 100% 40%;
  --purple_8: 280 100% 35%;
  --purple_9: 280 100% 28%;
  --purple_10: 280 100% 20%;
  --purple_11: 280 100% 10%;
  --purple_12: 280 100% 5%;

    /*  Violeta  */
  --violet_0: 265 100% 95%;
  --violet_1: 265 100% 92%;
  --violet_2: 265 100% 87%;
  --violet_3: 265 100% 80%;
  --violet_4: 265 100% 75%;
  --violet_5: 265 100% 65%;
  --violet_6: 265 90% 50%;
  --violet_7: 265 90% 40%;
  --violet_8: 265 90% 35%;
  --violet_9: 265 90% 30%;
  --violet_10: 265 90% 23%;
  --violet_11: 265 90% 10%;
  --violet_12: 265 100% 5%;

    /*  Indigo  */
  --indigo_0: 230 100% 95%;
  --indigo_1: 230 100% 92%;
  --indigo_2: 230 100% 85%;
  --indigo_3: 230 100% 76%;
  --indigo_4: 230 100% 70%;
  --indigo_5: 230 100% 65%;
  --indigo_6: 230 100% 60%;
  --indigo_7: 230 70% 48%;
  --indigo_8: 230 70% 40%;
  --indigo_9: 230 70% 35%;
  --indigo_10: 230 70% 25%;
  --indigo_11: 230 70% 10%;
  --indigo_12: 230 100% 5%;

    /*  Azul  */
  --blue_0: 205 100% 95%;
  --blue_1: 205 100% 90%;
  --blue_2: 205 100% 85%;
  --blue_3: 205 100% 75%;
  --blue_4: 205 100% 68%;
  --blue_5: 205 100% 60%;
  --blue_6: 205 100% 50%;
  --blue_7: 205 100% 45%;
  --blue_8: 205 100% 35%;
  --blue_9: 205 100% 28%;
  --blue_10: 205 100% 20%;
  --blue_11: 205 100% 10%;
  --blue_12: 205 100% 5%;

    /*  Cian  */
  --cyan_0: 185 100% 95%;
  --cyan_1: 185 100% 90%;
  --cyan_2: 185 90% 85%;
  --cyan_3: 185 90% 75%;
  --cyan_4: 185 90% 70%;
  --cyan_5: 185 90% 65%;
  --cyan_6: 185 80% 50%;
  --cyan_7: 185 83% 45%;
  --cyan_8: 185 85% 38%;
  --cyan_9: 185 85% 28%;
  --cyan_10: 185 85% 20%;
  --cyan_11: 185 85% 10%;
  --cyan_12: 185 80% 5%;

    /*  Teal  */
  --teal_0: 160 100% 95%;
  --teal_1: 160 100% 90%;
  --teal_2: 160 100% 85%;
  --teal_3: 160 90% 75%;
  --teal_4: 160 90% 70%;
  --teal_5: 160 85% 65%;
  --teal_6: 160 85% 50%;
  --teal_7: 160 85% 40%;
  --teal_8: 160 85% 35%;
  --teal_9: 160 85% 28%;
  --teal_10: 160 85% 20%;
  --teal_11: 160 85% 10%;
  --teal_12: 160 80% 5%;

    /*  Verde  */
  --green_0: 130 100% 95%;
  --green_1: 130 100% 90%;
  --green_2: 130 100% 85%;
  --green_3: 130 90% 75%;
  --green_4: 130 90% 70%;
  --green_5: 130 85% 65%;
  --green_6: 130 85% 50%;
  --green_7: 130 85% 40%;
  --green_8: 130 85% 35%;
  --green_9: 130 85% 28%;
  --green_10: 130 85% 20%;
  --green_11: 130 85% 10%;
  --green_12: 130 80% 5%;

    /*  Jungla  */
  --jungle_0: 70 100% 90%;
  --jungle_1: 70 90% 85%;
  --jungle_2: 70 90% 75%;
  --jungle_3: 70 90% 70%;
  --jungle_4: 70 90% 65%;
  --jungle_5: 70 90% 60%;
  --jungle_6: 70 90% 50%;
  --jungle_7: 70 85% 40%;
  --jungle_8: 70 85% 35%;
  --jungle_9: 70 85% 28%;
  --jungle_10: 70 85% 20%;
  --jungle_11: 70 85% 10%;
  --jungle_12: 70 80% 5%;

    /*  lima  */
  --lime_0: 80 100% 90%;
  --lime_1: 80 100% 85%;
  --lime_2: 80 100% 75%;
  --lime_3: 80 90% 65%;
  --lime_4: 80 90% 60%;
  --lime_5: 80 90% 56%;
  --lime_6: 80 90% 50%;
  --lime_7: 80 90% 40%;
  --lime_8: 80 90% 35%;
  --lime_9: 80 90% 28%;
  --lime_10: 80 90% 20%;
  --lime_11: 80 90% 10%;
  --lime_12: 80 80% 5%;

  /* 2. Estado por defecto (Claro) */
  --bg-page: var(--gray_0);
  --bg-kbd: var(--gray_12);
  --color: var(--gray_12);
  --cl-kbd: var(--gray_0);
  --cptn: var(--gray_7);
}

@media (prefers-color-scheme: dark) {
  :root:not([theme="light"]) {
    --bg-page: var(--gray_12);
    --cl-kbd: var(--gray_12);
    --bg-kbd: var(--gray_1);
    --color: var(--gray_0);
    --cptn: var(--gray_5);
  }
}

:root[theme="dark"] {
  --bg-page: var(--gray_12);
  --cl-kbd: var(--gray_12);
  --bg-kbd: var(--gray_1);
  --color: var(--gray_0);
  --cptn: var(--gray_5);
}

html {
  color-scheme: dark light;
}

body{
  background-color: hsl(var(--bg-page));
  color: hsl(var(--color));
}

kbd {
  background-color: hsl(var(--bg-kbd));
  color: hsl(var(--cl-kbd));
}

mark {
  background-color: hsl(var(--lime_6));
}

caption {
  color: hsl(var(--cptn));
}